.button {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
  color: $basic-white;
  text-align: center;

  &--round {
    padding: 14px;
    width: 100%;
    border: 3px solid $basic-white;
    border-radius: 29px;
  }

  &--upload,
  &--cancel {
    margin-top: 7px;
    padding: 15px;
    line-height: 18px;
    color: $secondary-soft;
    background-color: $basic-white;
    border-color: $secondary-soft;
  }

  &--cancel {
    margin-top: 13px;
    color: $primary;
    border-color: $primary;
    opacity: 0.1;
  }

  &--rect {
    padding: 14px;
    width: 100%;
    line-height: 30px;
    background-color: $accent-soft;
    text-transform: uppercase;
    border: 2px solid $accent-soft;
    border-radius: 1px;
  }
}
