.contacts {
  margin-bottom: 21px;
}

.contacts__lead {
  padding: 20px;
}

.contacts__text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 13px 20px 7px;
}

.contacts__method {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.contacts__info {
  font-size: 24px;
  line-height: 33px;
  color: $secondary-soft;
  text-align: center;
}
