.contest {
  overflow: hidden;
}

.contest__lead {
  padding: 94px 20px 44px;
  font-weight: 300;

  @media (min-width: $tablet) {
    padding-top: 177px;
    padding-bottom: 59px;
  }

  @media (min-width: $desktop) {
    padding-top: 169px;
    padding-bottom: 89px;
  }

  @media (max-width: $small-only) {
    line-height: 33px;
  }

  @media (min-width: $tablet) and (max-width: $mobile-and-tablet-only) {
    font-size: 50px;
    line-height: 68px;
  }
}

.contest__form-description {
  margin: 0;
  padding: 44px 0 40px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 91px 35px 52px;
    font-size: 18px;
  }

  @media (min-width: $desktop) {
    padding: 91px 40px 65px;
  }
}

.contest__form {
  margin-top: -31px;

  @media (min-width: $tablet) {
    margin-top: 0;
  }
}

.contest__fill-form {
  display: none;

  @media (min-width: $tablet) {
    display: inline;
  }
}
