.develop {
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $desktop) {
    font-size: 18px;
  }
}

.develop__link {
  margin-left: 15px;
  line-height: 0;

  @media (min-width: $desktop) {
    margin-top: 3px;
    margin-left: 13px;
  }

  &:hover .develop__icon {
    fill: $primary;
  }

  &:active .develop__icon {
    fill: $primary;
    fill-opacity: 0.3;
  }
}

.develop__icon {
  fill: $secondary-soft;
}
