.develop {
  display: flex;
  align-items: center;
  margin: 0;

  @media (min-width: $desktop) {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }
}

.develop__link {
  margin-left: 18px;
  line-height: 0;

  @media (min-width: $desktop) {
    margin-left: 13px;
  }
}
