.feedback {
  width: 100%;
}

.feedback__inner {
  margin: 0 20px;
}

.feedback__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feedback__user-blockquote {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  margin: 0;
}

.feedback__author {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.feedback__author-details--disabled {
  display: none;
}

.feedback__toggles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
