.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 21px 20px 23px;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 19px;
  }

  @media (min-width: $desktop) {
    padding: 55px 0 59px;
  }
}

.footer__logo {
  @media (max-width: $small-only) {
    margin: 0 auto;
    padding: 20px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 13px;
    padding: 15px 0 15px;
  }

  &--contest-page {
    @media (max-width: $small-only) {
      padding: 15px 20px 20px;
    }

    @media (min-width: $tablet) and (max-width: $mobile-and-tablet-only) {
      margin-bottom: 6px;
      padding-top: 16px;
    }
  }

  &--catalog-page {
    @media (max-width: $small-only) {
      padding: 15px 20px 20px;
    }

    @media (min-width: $tablet) and (max-width: $mobile-and-tablet-only) {
      margin-bottom: 6px;
      padding-top: 16px;
    }

    @media (min-width: $desktop) {
      padding-top: 13px;
    }
  }
}

.footer__social {
  @media (max-width: $small-only) {
    margin: 0 auto;
    padding: 11px 38px;
  }

  @media (min-width: $tablet) {
    margin-right: 15px;
    padding: 8px 0 14px;

    &--contest-page {
      padding-top: 15px;
    }
  }

  @media (min-width: $desktop) {
    margin-right: -8px;
  }
}

.footer__develop {
  @media (max-width: $small-only) {
    margin: 0 auto;
    padding: 27px 14px 12px;
  }

  @media (min-width: $tablet) {
    padding: 10px 0 14px;

    &--contest-page {
      padding-top: 17px;
    }
  }

  @media (min-width: $desktop) {
    &--contest-page {
      padding-top: 13px;
    }
  }
}
