.lead-container {
  width: 100%;
  color: $basic-white;
  background-color: $special-background;
  background-image: url("../img/library-small.jpg");

  @supports (background-image: url("../img/library-small.webp")) {
    background-image: url("../img/library-small.webp");
  }

  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/library-small@2x.jpg");

    @supports (background-image: url("../img/library-small@2x.webp")) {
      background-image: url("../img/library-small@2x.webp");
    }
  }

  @media (min-width: $tablet) {
    background-image: url("../img/library-medium.jpg");

    @supports (background-image: url("../img/library-medium.webp")) {
      background-image: url("../img/library-medium.webp");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/library-crop-medium@2x.jpg");

      @supports (background-image: url("../img/library-crop-medium@2x.webp")) {
        background-image: url("../img/library-crop-medium@2x.webp");
      }
    }
  }

  @media (min-width: $desktop) {
    background-image: url("../img/library-large.jpg");

    @supports (background-image: url("../img/library-large.webp")) {
      background-image: url("../img/library-large.webp");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/library-crop-large@2x.jpg");

      @supports (background-image: url("../img/library-crop-large@2x.webp")) {
        background-image: url("../img/library-crop-large@2x.webp");
      }
    }
  }

  &--viewport-width {
    @include viewport-width-100;
  }
}
