.lead-container {
  width: 100%;
  color: $basic-white;
  background-color: $special-background;
  background-image: url("../img/library-small.jpg");
  background-repeat: no-repeat;
  background-position: top;

  &--viewport-width {
    @include viewport-width-100;
  }
}
