.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.logo__initial {
  display: block;

  @media (min-width: $tablet) {
    display: none;
  }
}

.logo__medium-screen {
  display: none;

  @media (min-width: $tablet) and (max-width: $mobile-and-tablet-only) {
    display: block;
  }
}

.logo__large-screen {
  display: none;

  @media (min-width: $desktop) {
    display: block;
  }
}

.logo__footer-initial {
  @media (min-width: $desktop) {
    display: none;
  }
}

.logo__footer-large-screen {
  display: none;

  @media (min-width: $desktop) {
    display: block;
  }
}

.logo__icon {
  fill: $basic-white;

  &--glasses,
  &--asterisk {
    fill: $secondary-soft;
  }

  &--pink,
  &--contrast {
    fill: $primary;
  }
}
