.logo {
  display: block;

  &[href]:hover .logo__icon {
    fill: $secondary-soft;

    &--glasses,
    &--asterisk,
    &--pink {
      fill: $secondary-soft;
    }
  }

  &[href]:active .logo__icon {
    fill: rgba($basic-white, 0.3);

    &--glasses,
    &--asterisk {
      fill: rgba($secondary-soft, 0.3);
    }

    &--pink {
      fill: rgba($primary, 0.3);
    }
  }
}

.logo__initial {
  display: block;

  @media (min-width: $tablet) {
    display: none;
  }
}

.logo__medium-screen {
  display: none;

  @media (min-width: $tablet) and (max-width: $mobile-and-tablet-only) {
    display: block;
  }
}

.logo__large-screen {
  display: none;

  @media (min-width: $desktop) {
    display: block;
  }
}

.logo__footer-initial {
  @media (min-width: $desktop) {
    display: none;
  }
}

.logo__footer-large-screen {
  display: none;

  @media (min-width: $desktop) {
    display: block;
  }
}

.logo__icon {
  fill: $basic-white;

  &--glasses,
  &--asterisk {
    fill: $secondary-soft;
  }

  &--pink,
  &--contrast {
    fill: $primary;
  }
}
