.main__features {
  margin-bottom: 22px;

  @media (min-width: $tablet) and (max-width: $mobile-and-tablet-only) {
    margin-top: 45px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    padding: 62px 0 44px;
  }
}

.main__tariffs {
  position: relative;
  margin-bottom: 20px;
  padding: 99px 0 7px;

  @media (min-width: $tablet) {
    margin-bottom: 18px;
    padding: 95px 0 67px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 28px;
    padding-bottom: 68px;
  }
}

.main__contacts {
  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}
