.main-nav {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.main-nav__toggle {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 50px;
  height: 4px;
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  background-color: $basic-white;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: $basic-white;
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: $basic-white;
  }
}

.main-nav__toggle--close {
  top: 11%;
  width: 32px;
  background-color: transparent;

  &::before {
    top: 0;
    width: 32px;
    transform: rotate(45deg);
  }

  &::after {
    top: 0;
    width: 32px;
    transform: rotate(-45deg);
  }
}

.main-nav__toggle--disabled {
  display: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  &--disabled {
    display: none;
  }
}

.main-nav__item {
  background-color: $primary;
  box-shadow: 0 1px 0 $basic-black,
    inset 0 1px 0 rgba($basic-white, 0.15);
}

.main-nav__link {
  display: block;
  padding: 21px 21px 22px;
  color: $basic-white;
  text-align: center;
  text-transform: uppercase;
}
