.main-nav {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

  @media (min-width: $desktop) {
    max-width: 80%;
    font-weight: 400;
    line-height: 18px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 50px;
  height: 24px;
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;

  &:hover .main-nav__burger {
    background-color: $secondary-soft;

    &::before,
    &::after {
      background-color: $secondary-soft;
    }

    &--open-menu {
      background-color: transparent;
    }
  }

  &:active .main-nav__burger {
    background-color: rgba($secondary-soft, 0.3);

    &::before,
    &::after {
      background-color: rgba($secondary-soft, 0.3);
    }

    &--open-menu {
      background-color: transparent;
    }
  }

  &--shown {
    top: 10.5%;
    right: 17px;
    width: 29px;
    height: 29px;

    @media (min-width: $tablet) {
      top: 14.7%;
    }
  }

  @media (min-width: $desktop) {
    display: none;
  }

  &--disabled {
    display: none;
  }
}

.main-nav__burger {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 4px;
  background-color: $basic-white;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $basic-white;
  }

  &::after {
    top: 10px;
  }

  &--open-menu {
    background-color: transparent;

    &::before,
    &::after {
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.main-nav__list {
  @media (max-width: $mobile-and-tablet-only) {
    position: relative;
    left: 50%;
    right: 50%;
    margin: 0 -50vw;
    padding: 0;
    width: 100vw;
    list-style: none;
    overflow: hidden;

    &--closed {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;

    @include reset-list;

    margin-right: -70px;
  }
}

.main-nav__item {
  margin-bottom: 1px;
  background-color: $primary;
  box-shadow: 0 1px 0 $basic-black,
    inset 0 1px 0 rgba($basic-white, 0.15);

  @media (min-width: $desktop) {
    margin: 0 40px;
    background-color: transparent;
    box-shadow: none;
  }
}

.main-nav__link {
  display: block;
  padding: 20px 20px 22px;
  color: $basic-white;
  text-align: center;
  text-transform: uppercase;

  &[href]:hover {
    color: $secondary-soft;
  }

  @media (max-width: $mobile-and-tablet-only) {
    &[href]:active {
      color: rgba($secondary-soft, 0.3);
    }
  }

  @media (min-width: $desktop) {
    padding: 10px 0;
    text-transform: initial;

    &[href]:active {
      color: rgba($basic-white, 0.3);
    }

    &--current {
      box-shadow: 0 2px $basic-white;
    }
  }
}
