.map {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 200px;
  background-color: $complementary-light;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  z-index: $z-index-background-image;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map@2x.png");
  }

  @media (min-width: $tablet) {
    min-height: 372px;
    background-image: url("../img/map-medium.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-medium@2x.png");
    }
  }

  @media (min-width: $desktop) {
    min-height: 578px;
    background-image: url("../img/map-large.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-large@2x.png");
    }
  }

  &--viewport-width {
    @include viewport-width-100;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 10vw solid $basic-white;
    border-right: 50vw solid transparent;
    border-left: 50vw solid transparent;
    overflow: hidden;

    @media (min-width: $desktop) {
      border-top-width: 9vw;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 47.7%;
    left: 50%;
    transform: translate(-50%);
    width: 36px;
    height: 36px;
    background-color: $secondary-soft;
    border: 10px solid $basic-white;
    border-radius: 50%;
    z-index: $z-index-background-image;

    @media (min-width: $tablet) {
      top: 51.5%;
    }

    @media (min-width: $desktop) {
      top: 52%;
    }
  }
}

.map__source {
  width: 100%;
  border: 0;

  @media (min-width: $tablet) {
    height: 372px;
  }

  @media (min-width: $desktop) {
    height: 540px;
  }
}
