.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background: $basic-white;
  box-shadow: 0 7px 15px rgba($basic-black, 0.15);
  border-radius: 1px;
  z-index: $z-index-popup;

  @media (min-width: $tablet) {
    width: 460px;
    border-radius: 5px;
  }

  @media (min-width: $desktop) {
    width: 780px;
  }

  &--failure,
  &--success {
    display: block;
  }
}

.modal__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 20px;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 18px 20px 23px;
  }

  @media (min-width: $tablet) {
    padding: 26px 20px 33px;
  }

  &--failure {
    padding-bottom: 49px;
  }
}

.modal__lead {
  padding: 15px;
  font-size: 18px;
  color: $basic-black;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 40px;
  }

  @media (min-width: $desktop) {
    padding-top: 14px;
  }
}

.modal__message {
  font-weight: 400;
  margin: 0;
  padding: 10px 0;

  @media (min-width: $tablet) {
    padding: 7px 45px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    padding: 7px 134px;
  }

  &--failure {
    padding-bottom: 42px;
  }
}

.modal__button-container {
  padding: 50px 20px;
  background-color: $complementary-light;
  border-radius: 0 0 1px 1px;
}
