.page {
  height: 100%;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  color: $primary;
  background-color: $basic-white;
}

.page__header {
  margin-bottom: -66px;
  z-index: $z-index-header;

  @media (min-width: $tablet) {
    margin-bottom: -110px;
  }

  @media (min-width: $desktop) {
    overflow: hidden;
  }
}

.page__container {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $desktop) {
    padding: 0 30px;
    max-width: 940px;
  }
}

.page__footer-contest {
  @media (min-width: $tablet) {
    margin-top: 34px;
  }

  @media (min-width: $desktop) {
    margin-top: -14px;
  }
}

.page__footer-catalog {
  margin-top: 5px;

  @media (min-width: $tablet) {
    margin-top: 0;
  }

  @media (min-width: $desktop) {
    margin-top: 28px;
  }
}
