.promo {
  margin-bottom: 26px;
  color: $basic-white;
  background-color: $special-background;
}

.promo__container-top {
  position: relative;
  padding: 0 20px;
  width: 100%;
  height: 462px;
  background-image: url("../img/phone.png"),
    url("../img/library-mobile.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center;
}

.promo__image-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
}

.promo__lead {
  padding: 90px 5px 34px;
}

.promo__container-bottom {
  padding: 28px 20px 21px;
}

.promo__content {
  margin: 0;
  padding: 10px;
  text-align: center;
}
