.slider {
  position: relative;
  overflow: hidden;
}

.slider__list {
  display: flex;

  &--current {
    position: relative;
    left: -100%;
  }
}

.slider__item {
  flex: 0 0 100%;
}

.slider__toggle {
  margin: 10px;
  width: 6px;
  height: 6px;
  background-color: rgba($primary, 0.3);
  border-radius: 50%;

  &--current {
    background-color: $basic-white;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -2px;
      width: 10px;
      height: 10px;
      border: 3px solid $primary;
      border-radius: 50%;
    }
  }

  &:not(&--current):hover {
    background-color: rgba($primary, 0.6);
  }

  &:not(&--current):active {
    background-color: rgba($primary, 0.1);
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.slider__button {
  @media (max-width: $mobile-and-tablet-only) {
    display: none;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 51%;
    transform: translateY(-50%);
    width: 22px;
    height: 41px;
    font: inherit;
    border: none;
    background-color: transparent;
    background-image: url("../img/left-arrow.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.3;

    &--previous {
      left: 0;
    }

    &--next {
      right: 0;
      background-image: url("../img/right-arrow.svg");
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}
