.slider {
  position: relative;
  overflow: hidden;
}

.slider__list {
  display: flex;
  text-align: center;

  &--current {
    position: relative;
    left: -100%;
  }
}

.slider__item {
  flex: 0 0 100%;
}

.slider__toggle {
  margin: 10px;
  width: 6px;
  height: 6px;
  background-color: rgba($primary, 0.3);
  border-radius: 50%;

  &--current {
    background-color: $basic-white;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -2px;
      width: 10px;
      height: 10px;
      border: 3px solid $primary;
      border-radius: 50%;
    }
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.slider__button {
  @media (max-width: $mobile-and-tablet-only) {
    display: none;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 51%;
    transform: translateY(-50%);
    width: 22px;
    height: 41px;
    font: inherit;
    border: none;
    background-color: transparent;
    background-image: url("../img/left-arrow.svg");
    background-repeat: no-repeat;

    &--previous {
      left: 0;
    }

    &--next {
      right: 0;
      background-image: url("../img/right-arrow.svg");
    }
  }
}
