.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include reset-list;

  @media (min-width: $tablet) {
    max-width: 40%;
  }

  @media (min-width: $desktop) {
    max-width: 45%;
  }
}

.social__link {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  margin: 0 4px;
  border: 3px solid rgba($primary, 0.1);
  border-radius: 50%;

  @media (min-width: $desktop) {
    margin: 0 3px;
  }

  &:hover {
    border-color: rgba($primary, 1);
  }

  &:active {
    border-color: rgba($primary, 0.1);

    & .social__icon {
      opacity: 0.3;
    }
  }
}
