.tariffs {
  position: relative;
  margin-bottom: 20px;
  padding: 129px 0 75px;
  //background-color: $complementary-light;
  background-image: url("../img/background-grey.png");
  background-repeat: no-repeat;
}

.tariffs__toggles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
