.tariff {
  padding: 0 20px;
}

.tariff__row {
  width: calc(100vw - 44px);
}

.tariff__header-container {
  display: flex;
  flex-direction: column;
  padding: 8px 14px 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $primary;
  border: 1px solid $primary;
  border-right-color: $basic-white;
  border-left-color: $basic-white;
  border-radius: 1px 0 0 0;
}

.tariff__header {
  font-weight: 700;
  font-size: 16px;
}

.tariff__price {
  font-weight: 300;
  font-size: 18px;
}

.tariff__option-container {
  padding: 14px 20px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  border: 1px solid $complementary-soft;
  border-radius: 1px 0 0 0;
}

.tariff__header-container--disabled,
.tariff__option-container--disabled {
  display: none;
}

.tariff__option {
  position: relative;
}

.tariff__option--selected,
.tariff__option--deselected {
  display: flex;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -3px;
    transform: translateY(-50%);
    width: 31px;
    height: 21px;
    background-image: url("../img/yes.svg");
    background-repeat: no-repeat;
  }
}

.tariff__option--deselected::after {
  width: 27px;
  height: 27px;
  background-image: url("../img/no.svg");
}
