.tariff {
  border-collapse: collapse;

  @media (min-width: $desktop) {
    display: block;
    padding: 76px 0 29px;
  }
}

.tariff__row {
  width: calc(100vw - 44px);

  @media (min-width: $tablet) {
    left: unset;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: calc(100vw - 40px);
    max-width: 940px;
    text-align: initial;
  }

  @media (min-width: $desktop) {
    width: calc(100vw - 20px);
  }
}

.tariff__header-container {
  display: flex;
  flex-direction: column;
  padding: 12px 10px 29px;
  line-height: 30px;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $primary;
  border: 2px solid $complementary-light;
  border-top-width: 0;

  @media (min-width: $tablet) {
    padding: 12px 11px 10px;
  }

  @media (min-width: $desktop) {
    padding: 15px 11px 23px;
  }

  &--first-cell {
    display: none;

    @media (min-width: $tablet) {
      display: block;
      background-color: transparent;
      border-color: transparent;
    }
  }

  &--unlimited {
    border-radius: 0 4px 0 0;

    @media (min-width: $tablet) {
      border-right-width: 0;
    }
  }

  &--base {
    border-radius: 4px 0 0 0;

    @media (min-width: $tablet) {
      border-left-width: 0;
    }
  }

  &--best-seller {
    position: relative;
    font-weight: 400;
    line-height: 10px;

    @media (min-width: $tablet) {
      overflow: hidden;
    }

    &::after {
      content: "Хит";
      position: absolute;
      top: 18px;
      left: -31px;
      transform: rotate(-45deg);
      padding: 7px 10px 6px;
      min-width: 110px;
      background-color: $secondary-soft;

      @media (min-width: $tablet) and (max-width: $mobile-and-tablet-only) {
        top: 16px;
        left: -36px;
        padding: 4px 10px 5px;
      }

      @media (min-width: $desktop) {
        top: 19px;
        left: -29px;
      }
    }

    &::before {
      @media (max-width: $small-only) {
        content: "";
        position: absolute;
        top: 45px;
        left: -19px;
        border-top: 29px solid $primary;
        border-right: 29px solid transparent;
        transform: rotate(-45deg);
        z-index: $z-index-promo;
      }
    }
  }
}

.tariff__header {
  margin-bottom: -3px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  @media (min-width: $desktop) {
    margin-bottom: 0;
    font-size: 18px;
  }
}

.tariff__price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $desktop) {
    font-size: 24px;
  }
}

.tariff__option-container {
  margin-top: -2px;
  padding: 14px 20px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  background-color: $basic-white;
  border: 2px solid $complementary-soft;

  @media (min-width: $tablet) {
    padding: 8px 14px 7px;
    text-transform: none;
  }

  @media (min-width: $desktop) {
    padding: 14px 21px;
    font-size: 18px;
  }

  &--first-cell {
    display: none;

    @media (min-width: $tablet) {
      display: block;
    }
  }

  &--top-left {
    border-radius: 1px 0 0 0;
  }

  &--top-right {
    border-radius: 0 1px 0 0;
  }

  &--bottom-left {
    border-radius: 0 0 0 1px;
  }

  &--bottom-right {
    border-radius: 0 0 1px 0;
  }
}

.tariff__option {
  position: relative;

  &--selected,
  &--deselected {
    display: flex;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -3px;
      transform: translateY(-50%);
      width: 31px;
      height: 21px;
      background-image: url("../img/check.svg");
      background-repeat: no-repeat;

      @media (min-width: $tablet) {
        left: 50%;
        transform: translate(-50%);
      }
    }
  }

  &--deselected {
    &::after {
      width: 27px;
      height: 27px;
      background-image: url("../img/cross.svg");
    }
  }
}

.tariff__option-description {
  @media (min-width: $tablet) {
    display: none;
  }
}
