.tariffs {
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-right: 100vw solid transparent;
    border-top: 6vw solid #ffffff;
    overflow: hidden;

    @media (min-width: $desktop) {
      border-top-width: 8vw;
    }
  }
}

.tariffs__toggles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 34px 20px 32px;

  @media (min-width: $tablet) {
    display: none;
  }
}
