.tools {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 19px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.tools__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 44px;
  padding: 0;
  font: inherit;
  background-color: transparent;
  border: 0;

  &:last-child {
    padding-right: 11px;
  }
}

.tools__icon {
  fill: $primary;
  opacity: 0.3;

  &:not(&--active):hover {
    opacity: 0.5;
  }

  &--active {
    fill: $secondary-soft;
    opacity: 1;
  }
}
