.upload__container {
  padding: 20px 0 19px;
  background-color: $complementary-light;

  @media (min-width: $tablet) {
    padding: 57px 0 44px;
  }

  @media (min-width: $desktop) {
    margin: 0 -30px;
    padding-bottom: 57px;
  }

  &--viewport-width {
    @media (max-width: $mobile-and-tablet-only) {
      @include viewport-width-100;
    }
  }
}

.upload__inner {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: min-content minmax(275px, 410px);
    column-gap: 45px;
  }

  @media (min-width: $desktop) {
    margin-right: 30px;
    margin-left: 50px;
    column-gap: 90px;
  }
}

.upload__picture {
  min-width: 280px;
  margin-bottom: 37px;
  background-color: $complementary-soft;

  @media (min-width: $tablet) {
    min-width: 300px;
    height: 400px;
    margin-bottom: 0;
  }
}

.upload__form {
  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
  }
}

.upload__button-container {
  margin-top: 23px;
  margin-bottom: 12px;
  padding: 10px 0;

  @media (min-width: $tablet) {
    margin: 0 11px 0 auto;
    padding: 43px 2px 10px;
    width: 264px;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: auto;
    padding: 0;
    width: 100%;
  }
}
