.user-post {
  @media (min-width: $tablet) {
    &--viewport-width {
      grid-column: 1 / -1;
    }
  }

  @media (min-width: $desktop) {
    &--viewport-width {
      margin-bottom: 20px;
    }
  }
}

.user-post__image-container {
  min-height: 137px;
  background-color: $complementary-soft;

  @media (min-width: $tablet) {
    min-height: 300px;
  }

  @media (min-width: $desktop) {
    min-height: 400px;
    max-height: 506px;
  }

  &--viewport-width {
    @include viewport-width-100;
  }
}

.user-post__container {
  background-color: $complementary-light;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    padding: 4px 13px;
    min-height: 155px;

    &--viewport-width {
      margin-bottom: 30px;
      min-height: unset;
    }
  }

  @media (min-width: $desktop) {
    padding: 4px 11px;

    &--viewport-width {
      padding: 4px 11px;
    }
  }
}

.user-post__header {
  padding: 18px 17px;

  @media (min-width: $desktop) {
    padding: 19px 17px 17px;
  }
}

.user-post__author {
  font-weight: 700;
}

.user-post__datetime {
  font-size: 12px;
  text-transform: uppercase;
}

.user-post__content {
  margin-top: -28px;
  margin-bottom: auto;
  padding: 10px 10px 10px 17px;
  font-weight: 400;
}

.user-post__footer {
  display: flex;
  align-items: center;
  margin-top: -8px;
  padding: 8px 17px 19px;
  font-weight: 400;
  font-size: 12px;
  color: $secondary-soft;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    flex-direction: row-reverse;
    justify-content: space-between;

    &--viewport-width {
      justify-content: initial;
      margin-top: -89px;
      padding-bottom: 69px;
    }
  }

  @media (min-width: $desktop) {
    padding-right: 20px;

    &--viewport-width {
      margin-top: -65px;
      padding-right: 20px;
      padding-bottom: 44px;
    }
  }

  &--extra-padding {
    padding-top: 9px;
  }
}

.user-post__like-counter {
  margin: 0;
  padding-left: 18px;

  @media (min-width: $tablet) {
    padding-left: 0;

    &--viewport-width {
      padding-right: 16px;
    }
  }
}
