//Colors
$primary: #283645;
$secondary-bright: #f25b26;
$secondary-soft: #d22856;
$accent-bright: #3dc644;
$accent-soft: #2aab6d;

$basic-white: #ffffff;
$basic-black: #000000;
$complementary-light: #f2f2f2;
$complementary-soft: #e5e5e5;

$special-border: #252527;
$special-background: #1d2631;

//Z-index
$z-index-header: 3;
$z-index-popup: 5;
